<style>
#avatar img {
	width	: 50%;
	float	: right;
	border			: .5em solid white;
	border-radius		: 0.3em;
	-webkit-border-radius	: 0.3em;
	-moz-border-radius	: 0.3em;
	
	margin-top		: 0.5em;
	margin-bottom		: 0.5em;
}
#avatar p a {
	text-decoration	: none;
}
#avatar p a:hover {
	text-decoration	: underline;
}
#avatar .hireme {
	text-align	: center;
	background	: white;
	padding		: 0.3em;

	border		: 3px solid grey;
	border-radius	: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz@-border-radius: 0.3em;

	clear		: both;
}
#avatar .hireme:hover {
	color		: black;
	background	: grey;
}
</style>
<section id="avatar">
  <h1>Me - Jerome Etienne</h1>
  <img src="/data/jetienne-avatar.jpg"/>
  <p>
	I enjoy writing efficient and creative code.
	Sometime i talk at conferences or give trainings.
  </p>
  <p>
	<a href="https://twitter.com/#!/jerome_etienne" target="_blank">@jerome_etienne</a><br/>
	<a href="https://github.com/jeromeetienne" target="_blank">github</a>
	<a href="https://plus.google.com/102848659911729905069/posts" target="_blank">google+</a>
  </p>
  <div class="hireme">
	<a href="mailto:jerome.etienne@gmail.com" target="_blank">Available for Hire</a>
  </div>
</section>
